<!-- app/views/horses/index.html.erb -->
<h1>Horses Page </h1>
<%= link_to 'Add a New Horse +', new_horse_path, style: 'background-color: purple; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;' %>
<%= turbo_stream_from "horses" %>
<%= turbo_frame_tag "horses" do %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Color</th>
        <th>Stable</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @horses.each do |horse| %>
        <%= render partial: "horse", locals: { horse: horse } %>
      <% end %>
    </tbody>
  </table>
<% end %>


